# Random editor stuff
*~

# Python byte-compiled / optimized / DLL files
*.pyc
__pycache__/*
src/Python/build/*
src/Python/dist/*
src/Python/tests/test_chunk*
src/Python/wcon.egg*
.pypirc

#Matlab
*.asv

# Scala
src/scala/target/*
