# Random editor stuff
*~
*.swp

# Python byte-compiled / optimized / DLL files
*.pyc
__pycache__/*
src/Python/build/*
src/Python/dist/*
src/Python/tests/test_chunk*
src/Python/wcon.egg*
.pypirc
openworm/

#Matlab
*.asv

# Scala
src/scala/target/*
src/scala/**/target/*

/src/Python/example_saved_file.WCON
/src/Python/wcon/wcon_schema.json
