[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
six = "*"
numpy = "*"
psutil = "*"
jsonschema = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.9"
